@import 'utils';

.button {
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--background-btn);
  color: var(--text-btn);
  padding: 6px 15px;
  border-radius: var(--max-radius);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 15px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary {
  background: var(--primary);
}

.primary:hover {
  background: var(--primary-hvr);
}

.large {
  width: fit-content;
  padding: 10px 20px;
  font-size: 17px;

  @include tablet {
    padding: 10px;

    span {
      display: none;
    }
  }

  @include mobile {
    padding: 15px;
    position: fixed;
    bottom: calc(var(--header-height) + 20px);
    right: 20px;
    z-index: var(--z-fab);
  }
}