@import 'utils';

.actions {
  @include flex;
  gap: 5px;
}

.action {
  cursor: pointer;
  padding: 8px;
  border-radius: var(--max-radius);
  color: var(--primary);
  @include center;

  &:hover {
    background-color: var(--primary-transluced);
  }
}