.textInput {
  margin-top: 15px;
}

.label {
  font-size: 16px;
  font-weight: 500;
}

.input {
  padding: 10px;
  margin-top: 6px;
  border-radius: var(--min-radius);
  background-color: var(--background-card);
}